[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
[alias]
    ahead = log --oneline @{push}..
    behind = log --oneline ..@{upstream}
    please = push --force-with-lease
[color "branch"]
    # Use a lighter blue for "git branch -vv"; the default is unreadable on black background
    upstream = bold blue
[core]
    # Line endings - checkout as-is, commit as-is. This is the default, but the installer does ask.
    autocrlf = false
    # Ignore files' executable bit changed on broken file systems, resulting in them being marked as changed
    fileMode = false
    # File system cache in Git for Windows (enabled by default from 2.8.2)
    fscache = true
    # Long paths support in Git for Windows, useful if deep node_modules have been checked in
    longpaths = true
    # Enable parallelism to improve performance (enabled by default from 2.1.0)
    preloadindex = true
[diff]
    # Consider more files than the defaults (diff: 400, merge: 1000), for large refactorings
    renameLimit = 5000
[gui]
    # Don't use the default system encoding
    encoding = utf-8
    # Turn off loose objects popup that appears on launch
    gcwarning = false
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[push]
    # Squelch the warning about new default behaviour in Git 2.0
    default = simple
[user]
    name = YOUR NAME
    # Should match configured email on repo hosting (e.g. GitHub), so it can associate your commits with your user
    email = YOUR EMAIL
