# Force; colour support detection fails in Git Bash. Makes errors/warnings more noticeable.
color = always

# Refuse to install packages claiming not to be compatible with current Node/NPM versions
engine-strict = true

# For NPM scripts; shell script is a better language than Windows batch
script-shell = "C:\\Program Files\\git\\bin\\bash.exe"
